@font-face {
  font-family: 'Courgette regular';
  src: url('fonts/CourgetteRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'Didact Gothic regular';
  src: url('fonts/DidactGothicRegular.ttf') format('truetype');
}

@font-face {
  font-family: wedding1;
  src: url('fonts/wedding-webfont.woff2') format('woff2'), url('fonts/wedding-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #DFDBE5;
}

h1 {
  padding-bottom: 0.6em;
  padding-top: 0.2em;
  font-family: 'Didact Gothic regular';
}

.container_bg {
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(245,245,245,1) 51%,rgba(236,236,236,1) 100%);
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(245,245,245,1) 51%, rgba(236,236,236,1) 100%);
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(245,245,245,1) 51%,rgba(236,236,236,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ececec',GradientType=0 );
}

.main-navbar {
  background-color: #71266E;
  font-family: 'Courgette regular';
  font-size: 20px;
}

.main-navbar a.navbar-brand span.menu-icon {
  font-family: wedding1;
  font-size: 1.5em;
  color: #AA71A7;
}

.main-navbar .nav-item.active a {
  color: #390036;
}

.main-navbar .nav-item.active a.nav-link {
  color: #AA71A7;
}

.main-navbar .nav-item.active a.nav-link:hover, .main-navbar .nav-item.active a.nav-link:active {
  color: #390036;
}

.map-view-container {
  height: 500px;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);
}

.form-signin-heading {
  text-align: center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.header-top {
  background: -webkit-linear-gradient(top,  rgba(255,255,255,.9) 0%,rgba(255,255,255,.7) 70%,rgba(255,255,255,.25) 100%);
  background: linear-gradient(to top,  rgba(214, 171, 212,.9) 0%,rgba(255,255,255,.7) 70%,rgba(255,255,255,.25) 100%);
  background: -moz-linear-gradient(top,  rgba(255,255,255,.9) 0%, rgba(255,255,255,.7) 70%, rgba(255,255,255,.25) 100%);
  height: 195px;
}

.header-top .header-top-container {
  font-family: 'Courgette regular';
  font-size: 3em;
  color: #AA71A7;
  text-align: center;
  line-height: 4em;
}

.header-top img.bird {
  width: 80px;
}

.header-bottom {
  height: 20px;
  background-image: url('../img/header-bottom.png');
  background-repeat: repeat-x;
  background-position-y: -2px;
}

.clock {
  width: 160px;
  height: 140px;
  position: relative;
  display: inline-block;
}

.clock svg {
  width: 100%;
  height: 100%;
}

.clock svg path {
  stroke-width: 12px;
  fill: #fff;
  stroke: #71266E;
}

.clock svg path.time-out {
  fill: none;
  stroke: #71266E;
}

.content {
  width: 100px;
  top: 50%;
  justify-content: center;
  height: 100px;
  align-items: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  color: #AA71A7;
  left: 50%;
}

.content .seconds {
  font-size: 35px;
  color: #AA71A7;
  padding-right: 7px;
}

.search-panel {
  display: inline-block;
  width: 170px;
}

.search-panel i {
  display: inline-block;
  margin: 0 5px;
}

.search-panel input {
  display: inline-block;
  width: 105px;
  padding: 5px;
}

@media only screen and (max-width: 650px) {

  .clock {
    font-size: 0.5em;
    width: 25vw;
  }
  
  .clock svg {
    display: none;
  }
  
  .header-bottom {
    display: none;
  }
  
  .header-top {
    height: auto;
  }
  
  .header-top .header-top-container {
    font-size: 1.5em;
  }
  
  .header-top .header-top-container img.bird {
    width: 85%;
  }

}

.form-login {
  background: #F1EFF4;
  right: 0px;
  margin: 0px auto;
  margin-top: 100px;
  width: 400px;
  padding-bottom: 20px;
}

.header {
  height: 60px;
  background: #AA9BC6;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #783276;
}

.header span {
  padding-top: 20px;
  float: left;
  text-align: center;
  width: 278px;
}

.link-head-left {
  display: block;
  float: left;
  height: 60px;
  width: 60px;
  border-right: 1px solid #232323;
}

.link-head-right {
  display: block;
  float: right;
  height: 60px;
  width: 60px;
  border-left: 1px solid #232323;
}

.avatar {
  margin-top: 25px;
  text-align: center;
}

.avatar img {
  width: 180px;
  height: 180px;
}

.inputs {
  margin-top:10px: color:#4d4d4d;
}

.inputs input[type="text"] {
  width: 360px;
  height: 45px;
  -webkit-border-radius: 5px;
  border: 0;
  padding: 0px 10px;
  margin-top: 15px;
  margin-left: 20px;
  font-size: 16px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background: #1b1b1bcc;
  color: #4d4d4d;
}

.button-login input[type="button"] {
  width: 360px;
  height: 55px;
  border: 0;
  text-transform: uppercase;
  outline: none;
  position: relative;
  margin-top: 25px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: inset 0 1px #8775aa,inset 1px 0 #8775aa,inset -1px 0 #8775aa,inset 0 -1px #8775aa,0 2px #8775aa,0 3px #8775aa,0 4px 2px rgba(0,0,0,0.0);
  margin-left: 20px;
  font-size: 18px;
  border-radius: 5px;
  background: #AA9BC6;
  color: #783276;
}

.button-login input[type="button"]:hover {
  opacity: 0.9;
}

.button-login input[type="button"]:active {
  top: 3px;
  background: #e84c3d;
  box-shadow: inset 0 1px 2px #ba3c30;
}

ul.gifts-special {
  list-style: none;
  padding: 0;
}

ul.gifts-special li {
  font-weight: bold;
}

ul.gifts-special li ol, ul.gifts-special li li {
  font-weight: normal;
}

ul.gifts-special > li {
  padding-left: 2em;
}

ul.gifts-special > li:before {
  font-family: 'FontAwesome';
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}

ul.gifts-special > li.beer:before {
  content: '\f0fc';
}

ul.gifts-special > li.book:before {
  content: '\f02d';
}